
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env310/
ennv310/

# Archivos test/análisis
extra.ipynb
EDA.ipynb

# Data
data/*


# Resultados
*.csv
*.pkl
*.txt
*.pth
*.npy
*.json
*.txt
*.png
